html,
body {
  /*background-color: #000;*/
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bm {
  max-width: 90%;
  max-height: 50%;
  background: url("loading.svg") center no-repeat;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 160px;
  corner-shape: squircle;
  overflow: hidden;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

header,
footer {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

body.show header,
body.show footer,
body.show #bm {
  opacity: 1;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

header h1,
header h2 {
  text-align: center;
  font-weight: normal;
  font-family: sans-serif;
  color: transparent;
  background: linear-gradient(90deg, #a977c8, #6f8cc7 8.5%, #639a47 16.5%, #858585 33%, #5f5f5f 66%, #a977c8 83.5%, #6f8cc7 91.5%, #639a47);
  background-clip: text;
  background-size: 600% 100%;
  transition: all 0.5s ease-in-out;

}

@keyframes textAnimation {
  0% {
    background-position-x: 100%;
  }

  50% {
    background-position-x: 50%;
  }

  100% {
    background-position-x: 0%;
  }
}

header h1 {
  font-size: 2vmax;
  background-position-x: 50%;
  animation: textAnimation 3s ease-in-out infinite;
}

header h2 {
  font-size: 1em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: end;
  opacity: 0 !important;
}

footer a {
  font-size: 12px;
  line-height: 30px;
  color: darkgrey;
}